---
import { title } from "@label";
import Layout from "@/layouts/Layout.astro";
import Header from "@uis/Header.astro";


import { ReactFlowProvider } from "reactflow";
import { Drawer, Flow } from "@components"
import "../styles/global.css";

---

<Layout title={title}>
  <div class="flex flex-col h-screen w-full overflow-hidden">
    <Header />
    <main class="flex-1 overflow-hidden">
      <ReactFlowProvider client:load>
        <Flow client:load />
      </ReactFlowProvider>
    </main>
    <Drawer client:load />
  </div>
</Layout>
